.carousel {

    height: 50vh;
    width: 100%;
    background: var(--secondary-white-color);
}


.img-box {

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1600px;
    height: 1600px;
}


.img-box .img-list {
    height: inherit;
    transform: rotate(90deg);
}


.img-list .img-slider {
    height: inherit;
    display: flex;
    align-items: center;
    transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.img-slider .img-item {

    position: absolute;
    left: 0;
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 800px;
}


.img-item img {
    transform: rotate(-90deg);
    filter: drop-shadow(0px 0px 0.3px rgb(0, 0, 0));
    user-select: none;
    /* Não permite seleção do texto */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

.info-box {
    position: absolute;
    right: 8%;
    bottom: 10%;
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
}

.info-slider {}

.info-slider .info-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--white-color);
    height: 150px;
    user-select: none;
    /* Não permite seleção do texto */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}



.info-item:not(.active) {
    display: none;
}

.info-item:is(.active) {

    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: 0.4s textRotate;

}


@keyframes textRotate {

    from {
        transform: translateX(-500px);

    }

    to {


        transform: translateX(0px);
    }

}

.info-item h2 {
    font-size: 25px;
    white-space: nowrap;
    writing-mode: sideways-lr;
    letter-spacing: -1.1px;
}


.navigation {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
    gap: 20px;

}

.navigation div {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background: rgba(255, 255, 255, 0.336);
    border-radius: 50%;
    cursor: pointer;
    font-size: 28px;
    color: var(--white-color);

}



.navigation div:hover {

    background: var(--white-color);
    color: var(--secondary-white-color);
    transition: 0.2s;
}

.navigation div:active {

    scale: 1.1;

}