.show-products {

    min-height: 40vh;
    position: relative;

}

.custom-shape-divider-top-1722781981 {
    position: absolute;
    top: -12px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 10;
}

.custom-shape-divider-top-1722781981 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 140px;
}

.custom-shape-divider-top-1722781981 .shape-fill {
    fill: var(--secondary-white-color);
}