@import './base.css';

@import "./components/navbar.css";

@import './pages/home.css';

body {

    background-image: linear-gradient(to right top, #eef7ff, #e8eef5, #e2e6ec, #dbdde2, #d4d5d8, #d4d5d8, #d4d5d8, #d4d5d8, #dbdde2, #e2e6ec, #e8eef5, #eef7ff);
    font-family: var(--font-family-1);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}